/* Google Front Import - Popins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

html, body{
    font-family: 'Poppins', 'sans-serif';
    line-height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    color: #65605d;
    align-items: center;
    margin: auto;
}

/*NAVBAR*/
.row{
  padding-left: 8px;
 
}
.navbar button{
  color: #65605d;
}
.navbar button:hover{
  color: #65605d;
  text-decoration: underline;
}
.navbar .a img{
  width: 150px;
  height: 24px;
  padding: 8px;
  margin: 8px;
  width: 16px;
}

/* Searching-bar*/
.bg-indigo-600{
  background-color: blueviolet;
}

/* Media Query*/
@media(max-width: 992px
) { 
}
@media(max-width: 768px
) { 
  
}
@media(max-width: 576px
) { 

  .navbar button{
    font-size: 10px;
    line-height: 15px;
  };
  
}


