/* Google Front Import - Popins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

html, body{
    font-family: 'Poppins', sans-serif;
    font-size: 1 rem;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.navbar {
  padding: 3rem 2rem;
  height: 0rem;
  min-height: 12vh;
}

.navbar .navbar-brand a{
  padding: 1rem 0;
  display: block; 
}

.navbar-brand{
  font-family:'';
}
